div.organisation-btns
  div(ng-repeat="organisation in ctrl.organisationList track by $index").organisation-btn-container
    a(ng-href="{{ ctrl.baseURL }}/profile/switch-org/{{ organisation.id }}" target="_self").organisation-btn {{ organisation.name }}
